html, body {
    overflow: hidden;
}

.scheduler-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 20px;
    overflow: auto;
}

.content-container {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 20px;
    height: calc(100vh - 90px);
    transition: transform 0.3s ease-in-out;
}

.scheduler-table-container {
    width: 100%;
    min-width: 1200px;
    overflow-x: auto;
    margin: 0 auto;
    padding: 20px;
}

.MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.MuiTypography-body2 {
    font-size: 12px;
}

.inline-buttons {
    display: inline;
}

.MuiTableCell-root {
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-right: 1px solid #ddd;
}

.MuiTableHead-root {
    background-color: #f1f1f1;
}

.MuiBox-root.css-0 {
    transform: translateX(20px);
    transition: transform 0.3s ease-in-out;
}

.MuiDataGrid-mainContent .MuiTablePagination-root {
    display: none;
}

.MuiDataGrid-root {
    max-height: 800px;
    overflow: auto;
}
